/* ===================== 
Start: RESET      
======================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* =====================
End:  RESET
======================== */
/* ===================== 
Start: SIZE      
======================== */
.text_smaller {
  font-size: 12px;
}

.text_small {
  font-size: 14px;
}

.text_default {
  font-size: 18px;
}

/* =====================
End:  SIZE
======================== */
/* ===================== 
Start: GRID SYSTEM      
======================== */
/* ===================== 
Start: COLUMNS      
======================== */
.vcol-xs-1 {
  width: 8.33333%;
}

.vcol-xs-2 {
  width: 16.66667%;
}

.vcol-xs-3 {
  width: 25%;
}

.vcol-xs-4 {
  width: 33.33333%;
}

.vcol-xs-5 {
  width: 41.66667%;
}

.vcol-xs-6 {
  width: 50%;
}

.vcol-xs-7 {
  width: 58.33333%;
}

.vcol-xs-8 {
  width: 66.66667%;
}

.vcol-xs-9 {
  width: 75%;
}

.vcol-xs-10 {
  width: 83.33333%;
}

.vcol-xs-11 {
  width: 91.66667%;
}

.vcol-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .vcol-sm-1 {
    width: 8.33333%;
  }

  .vcol-sm-2 {
    width: 16.66667%;
  }

  .vcol-sm-3 {
    width: 25%;
  }

  .vcol-sm-4 {
    width: 33.33333%;
  }

  .vcol-sm-5 {
    width: 41.66667%;
  }

  .vcol-sm-6 {
    width: 50%;
  }

  .vcol-sm-7 {
    width: 58.33333%;
  }

  .vcol-sm-8 {
    width: 66.66667%;
  }

  .vcol-sm-9 {
    width: 75%;
  }

  .vcol-sm-10 {
    width: 83.33333%;
  }

  .vcol-sm-11 {
    width: 91.66667%;
  }

  .vcol-sm-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .vcol-md-1 {
    width: 8.33333%;
  }

  .vcol-md-2 {
    width: 16.66667%;
  }

  .vcol-md-3 {
    width: 25%;
  }

  .vcol-md-4 {
    width: 33.33333%;
  }

  .vcol-md-5 {
    width: 41.66667%;
  }

  .vcol-md-6 {
    width: 50%;
  }

  .vcol-md-7 {
    width: 58.33333%;
  }

  .vcol-md-8 {
    width: 66.66667%;
  }

  .vcol-md-9 {
    width: 75%;
  }

  .vcol-md-10 {
    width: 83.33333%;
  }

  .vcol-md-11 {
    width: 91.66667%;
  }

  .vcol-md-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .vcol-lg-1 {
    width: 8.33333%;
  }

  .vcol-lg-2 {
    width: 16.66667%;
  }

  .vcol-lg-3 {
    width: 25%;
  }

  .vcol-lg-4 {
    width: 33.33333%;
  }

  .vcol-lg-5 {
    width: 41.66667%;
  }

  .vcol-lg-6 {
    width: 50%;
  }

  .vcol-lg-7 {
    width: 58.33333%;
  }

  .vcol-lg-8 {
    width: 66.66667%;
  }

  .vcol-lg-9 {
    width: 75%;
  }

  .vcol-lg-10 {
    width: 83.33333%;
  }

  .vcol-lg-11 {
    width: 91.66667%;
  }

  .vcol-lg-12 {
    width: 100%;
  }
}
/* =====================
End:  COLUMNS
======================== */
/* ===================== 
Start: HIDDEN AND VISIBLE UTILITIES      
======================== */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }

  .visible-lg {
    display: block !important;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }

  .visible-md {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hidden-sm {
    display: none !important;
  }

  .visible-sm {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }

  .visible-xs {
    display: block !important;
  }
}
/* =====================
End:  HIDDEN AND VISIBLE UTILITIES
======================== */
.relative, [class*="col-"], .vcontainer, .vcontainer-small, .cf, .vrow, .vsection, .header, .footer, .vmodal-header, .vmodal-body, .vmodal-footer, .header-menu li a, .btn, .list li, .list-big-arrow li, .list-big-arrow li .inner, .big_text, .vmodal-dialog, .vmodal-content {
  position: relative;
}

[class*="col-"], .vcontainer, .vcontainer-small {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.center-block, .vcontainer, .vcontainer-small, .main-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cf:after, .vrow:after, .vcontainer:after, .vcontainer-small:after, .vsection:after, .header:after, .footer:after, .vmodal-header:after, .vmodal-body:after, .vmodal-footer:after, .cf:before, .vrow:before, .vcontainer:before, .vcontainer-small:before, .vsection:before, .header:before, .footer:before, .vmodal-header:before, .vmodal-body:before, .vmodal-footer:before {
  content: "";
  display: table;
}
.cf:after, .vrow:after, .vcontainer:after, .vcontainer-small:after, .vsection:after, .header:after, .footer:after, .vmodal-header:after, .vmodal-body:after, .vmodal-footer:after {
  clear: both;
}

.vrow {
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"] {
  float: left;
}

@media (min-width: 1200px) {
  .vcontainer {
    width: 1024px;
  }
}
@media (min-width: 1200px) {
  .vcontainer-small {
    width: 970px;
  }
}

.vsection {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1199px) {
  .vsection {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.vpull-left {
  float: left;
}
.vpull-right {
  float: right;
}

@media (min-width: 1200px) {
  .vpull-lg-right {
    float: right;
  }

  .text-lg-right {
    text-align: right;
  }

  .vpull-lg-left {
    float: left;
  }
}
@media (max-width: 1199px) {
  .max-lg-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 1024px) {
  .vpull-md-right {
    float: right;
  }

  .text-md-right {
    text-align: right;
  }

  .vpull-md-left {
    float: left;
  }
}
@media (max-width: 1023px) {
  .max-md-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .vpull-sm-right {
    float: right;
  }

  .text-sm-right {
    text-align: right;
  }

  .vpull-sm-left {
    float: left;
  }
}
@media (max-width: 767px) {
  .max-sm-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 480px) {
  .vpull-xs-right {
    float: right;
  }

  .text-xs-right {
    text-align: right;
  }

  .vpull-xs-left {
    float: left;
  }
}
@media (max-width: 479px) {
  .max-xs-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 320px) {
  .vpull-exs-right {
    float: right;
  }

  .text-exs-right {
    text-align: right;
  }

  .vpull-exs-left {
    float: left;
  }
}
@media (max-width: 319px) {
  .max-exs-negative {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.no-m {
  margin-bottom: 0 !important;
}

.block-inline, img, .text-number, .header-text, .btn, .main-form input, .footer-b {
  display: inline-block;
}

/* =====================
End:  GRID SYSTEM
======================== */
/* ===================== 
Start: MAIN STYLES      
======================== */
.body {
  color: #000;
  font-family: ProximaRegular;
  font-size: 18px;
  line-height: 1.42857;
}

img {
  max-width: 100%;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

a, button {
  cursor: pointer;
}

/* ===================== 
Start: Connect fonts      
======================== */
@font-face {
  font-family: ProximaRegular;
  src: local("ProximaRegular"), url(../fonts/ProximaRegular.otf);
}
.regular, .h2, .btn, .main-form input, .vmodal-title {
  font-family: ProximaRegular;
}

@font-face {
  font-family: ProximaBold;
  src: local("ProximaBold"), url(../fonts/ProximaBold.otf);
}
.bold, .text-number, .header-text, .header-inf-tagline, .step-number, .progress-c-text-header {
  font-family: ProximaBold;
}

@font-face {
  font-family: ProximaLight;
  src: local("ProximaLight"), url(../fonts/ProximaLight.otf);
}
.light, .footer a {
  font-family: ProximaLight;
}

@font-face {
  font-family: ProximaBlack;
  src: local("ProximaBlack"), url(../fonts/ProximaBlack.otf);
}
.black_font {
  font-family: ProximaBlack;
}

/* =====================
End:  Connect fonts
======================== */
h1,
.h1, h2,
.h2, h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6 {
  font-weight: 100;
}

.h1 {
  line-height: 1.1;
  margin: 0 0 4px;
}

.h2 {
  margin-bottom: 13px;
}
@media (min-width: 320px) {
  .h2 {
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  .h2 {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .h2 {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  .h2 {
    line-height: 31px;
  }
}

.h4 {
  color: #272727;
}
.h4.s-m {
  margin-bottom: 25px;
}
.h4.b-m {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .h3 {
    margin-bottom: 31px;
  }
  .h3.m-m {
    margin-bottom: 50px;
  }
  .h3.b-m {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .h1, .h2 {
    margin: 15px 0;
  }
  .h3 {
    margin-bottom: 30px;
  }
}
@media (min-width: 320px) {
  .bigtitle {
    font-size: 28px;
  }
}
@media (min-width: 480px) {
  .bigtitle {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .bigtitle {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  .bigtitle-inner {
    display: block;
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .bigtitle {
    line-height: 62px;
  }
  .bigtitle-big-lh {
    line-height: 77px;
  }
}

.subtitle {
  margin-bottom: 35px;
}
@media (min-width: 320px) {
  .subtitle {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 30px;
  }
}

@media (min-width: 320px) {
  .subtitle-small {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .subtitle-small {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .subtitle-small {
    line-height: 36px;
  }
}

.text-block-title {
  display: block;
  margin-bottom: 10px;
}
.text-block p {
  margin-bottom: 10px;
}
.text-block p:last-child {
  margin-bottom: 0;
}
.text-number {
  position: relative;
  min-width: 27px;
}
.text-number:after {
  left: 0;
  bottom: 4px;
  width: 20px;
  height: 1px;
  background-color: #d9deef;
}

.number-absolute p {
  padding-left: 20px;
  margin-bottom: 17px;
}
.number-absolute .text-number {
  position: absolute;
  left: 0;
}

.italic {
  font-style: italic;
}

.ttu, .header-inf-tagline {
  text-transform: uppercase;
}
.tdu {
  text-decoration: underline;
}
.tdn, .header-menu li a, .btn, .footer a {
  text-decoration: none;
}

.text-center, .footer, .vmodal-title {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

@media (max-width: 1199px) {
  .max-lg-center {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .min-lg-right {
    text-align: right;
  }
}
@media (max-width: 1023px) {
  .max-md-center {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .min-md-right {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .max-sm-center {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .min-sm-right {
    text-align: right;
  }
}
@media (max-width: 479px) {
  .max-xs-center {
    text-align: center;
  }
}
@media (min-width: 480px) {
  .min-xs-right {
    text-align: right;
  }
}
@media (max-width: 319px) {
  .max-exs-center {
    text-align: center;
  }
}
@media (min-width: 320px) {
  .min-exs-right {
    text-align: right;
  }
}
.transition, .header-menu, .header-menu li a:after, .btn, .btn-effect:before, .btn-effect-1:before, .main-form input {
  transition: all ease .5s;
}

.pseudo, .text-number:after, .header-menu li a:after, .header-inf-btn:after, .header-inf-btn:before, .btn-effect:before, .btn-effect-1:before, .list li:after, .list-big-arrow li .inner:after, .big_text:after, .speak-img-2:after {
  content: "";
  position: absolute;
}

/* =====================
End:  MAIN STYLES
======================== */
/* ===================== 
Start: HEADER      
======================== */
.header {
  padding: 25px 0 25px;
  min-height: 50px;
}
.header-text {
  color: #3861bc;
}
.header-margin {
  margin-top: 30px;
}
@media (min-width: 1024px) {
  .header {
    padding-bottom: 66px;
  }
  .header-margin {
    margin-top: 87px;
  }
  .header-text {
    font-size: 24px;
  }
}

.header-menu li {
  display: inline-block;
  padding: 15px 5px;
  vertical-align: middle;
}
.header-menu li a {
  color: inherit;
}
.header-menu li a:after {
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #3861bc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.header-menu li a:hover:after {
  width: 100%;
}
.header-menu-hidden {
  display: block;
}
@media (max-width: 1023px) {
  .header-menu {
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #d8b38e;
    z-index: 1000;
    text-align: center;
  }
  .header-menu li {
    display: block;
  }
  .header-menu-open {
    left: 0;
    overflow-y: auto;
  }
  .header-menu-push {
    left: 100%;
  }
  .header-menu-btn {
    position: fixed;
    top: -1px;
    left: -1px;
    z-index: 11;
    padding: 10px;
    background-color: #3861bc;
    border: none;
    transition: all ease .5s;
    outline: none;
  }
  .header-menu-btn .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #000;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-transition: all ease 0.25s;
    -o-transition: all ease 0.25s;
    transition: all ease 0.25s;
    transform-origin: 50% 100%;
  }
  .header-menu-btn .icon-bar:not(.icon-bar-1) {
    margin-top: 4px;
  }
  .header-menu-btn-open .icon-bar-1 {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    -ms-transform: rotate(45deg) translate(5px, 5px);
    -o-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
  }
  .header-menu-btn-open .icon-bar-2 {
    opacity: 0;
  }
  .header-menu-btn-open .icon-bar-3 {
    -webkit-transform: rotate(-45deg) translate(4px, -3px);
    -ms-transform: rotate(-45deg) translate(4px, -3px);
    -o-transform: rotate(-45deg) translate(4px, -3px);
    transform: rotate(-45deg) translate(4px, -3px);
  }
}
@media (min-width: 1024px) {
  .header-menu-breakpoint, .header-inf, .header-menu-btn {
    display: none;
  }
}
.header-inf-logo {
  padding: 7.5px;
  background-color: #545454;
  width: 100%;
}
.header-inf-logo img {
  max-width: 200px;
}
.header-inf-tagline {
  color: #fff;
  font-size: 12px;
  padding: 7.5px;
  border-bottom: 1px solid #676767;
}
.header-inf-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 25px;
  height: 22px;
}
.header-inf-btn:after, .header-inf-btn:before {
  left: 0;
  top: 20px;
  margin-top: -11px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #3861bc;
  transform-origin: 50% 100%;
}
.header-inf-btn:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header-inf-btn:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* =====================
End:  HEADER
======================== */
.btn {
  border: none;
  max-width: 100%;
  padding: 15px;
  overflow: hidden;
  z-index: 1;
  font-size: 16px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
@media (min-width: 480px) {
  .btn {
    font-size: 18px;
    padding: 21.5px 32px;
  }
}
.btn-effect-1:before {
  z-index: -1;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-effect-1:hover:before {
  height: calc(450% - 90px);
  opacity: 1;
}
.btn-corp {
  color: #fff;
  background-color: #3861bc;
  -webkit-box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, 0.25);
}
.btn-corp:hover {
  color: #000;
}
.btn-corp:before {
  background-color: #b8c7e8;
}
@media (min-width: 768px) {
  .btn-single {
    margin-top: 52px;
  }
}
@media (max-width: 767px) {
  .btn-single {
    margin-top: 35px;
  }
}

.list li:after {
  top: 0;
}
.list-cancel li:after {
  width: 37px;
  height: 37px;
  background: url("../img/cancel.png") 0 0 no-repeat;
  background-size: cover;
}
.list-big-arrow li {
  margin-bottom: 20px;
}
.list-big-arrow li .inner {
  padding-left: 90px;
}
.list-big-arrow li .inner:after {
  left: 0;
  top: 50%;
  width: 71px;
  height: 21px;
  margin-top: -10.5px;
  animation: list-big-arrow 10s ease-in-out infinite alternate;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  background: url("../img/arrow.png") 0 0 no-repeat;
  background-size: cover;
}
.list-big-arrow li:nth-child(2) {
  padding-left: 15px;
}
.list-big-arrow li:nth-child(3) {
  padding-left: 22.5px;
}
.list-big-arrow li:nth-child(4) {
  padding-left: 30px;
}
@media (min-width: 768px) {
  .list-big-arrow li:nth-child(2) {
    padding-left: 30px;
  }
  .list-big-arrow li:nth-child(3) {
    padding-left: 45px;
  }
  .list-big-arrow li:nth-child(4) {
    padding-left: 60px;
  }
}
@media (max-width: 767px) {
  .list {
    text-align: center;
    margin-bottom: 30px;
  }
  .list:after {
    left: 50%;
  }
  .list-cancel li {
    padding-top: 40px;
  }
  .list-cancel li:after {
    margin-left: -18.5px;
  }
}
@media (min-width: 768px) {
  .list {
    margin-bottom: 15px;
  }
  .list:after {
    left: 0;
  }
  .list-cancel li {
    padding-left: 50px;
  }
  .list-big-arrow {
    font-size: 24px;
  }
  .list-big-arrow li {
    margin-bottom: 51px;
  }
  .list-big-arrow li:last-child {
    margin-bottom: 0;
  }
}

@-webkit-keyframes list-big-arrow {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  20%,
  60% {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
    transform: translateX(15px);
  }
  40%,
  80% {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
  }
}
@keyframes list-big-arrow {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  20%,
  60% {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
    transform: translateX(15px);
  }
  40%,
  80% {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
  }
}
.corp, .text-number, .step-number, .progress-c-text-header {
  color: #3861bc;
}

.white {
  color: #fff;
}

.vertical-image:before, .progress-c-image:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.vertical-image img, .progress-c-image img {
  max-height: 100%;
  vertical-align: middle;
}

.main-form {
  width: 100%;
}
@media (min-width: 768px) {
  .main-form {
    width: 300px;
  }
}
.main-form input {
  border: 1px solid #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  color: #000;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 0px 10px 1px rgba(253, 188, 48, 0.17);
}
.main-form input:focus {
  border-color: #3861bc;
}
.main-form .btn {
  width: 100%;
}

@media (max-width: 1023px) {
  .logo {
    margin-bottom: 15px;
  }
}

.logo img {
  max-width: 180px;
}

.big_text:after {
  width: 275px;
  height: 311px;
  z-index: -1;
  background: url("../img/bullets.png") 0 0 no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .big_text:after {
    left: -20px;
    top: 0;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .big_text:after {
    left: 50%;
    top: 50%;
    margin-left: -137.5px;
    margin-top: -155.5px;
  }
}

@media (min-width: 1024px) {
  .big_text:after {
    left: -96px;
    top: 15px;
  }
}
.big_text p {
  margin-bottom: 17px;
}
.big_text_divider {
  display: inline-block;
  color: #000;
  margin: 0 15px;
}
@media (max-width: 767px) {
  .big_text_divider.change-view {
    display: block;
    transform: rotate(90deg);
    height: 25px;
    width: 25px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .big_photo {
    position: relative;
    left: -55px;
    min-width: 473px;
  }
}

.step-wrapper {
  margin-top: 30px;
}
@media (min-width: 1024px) {
  .step-wrapper {
    margin-top: 68px;
  }
}
@media (max-width: 767px) {
  .step-wrap {
    margin-bottom: 15px;
  }
  .step-wrap:last-child {
    margin-bottom: 0;
  }
}
.step-number, .step-img {
  width: 48%;
  display: inline-block;
}
.step-img {
  text-align: right;
}
.step-img img {
  max-height: 51px;
}
.step-number {
  text-align: left;
}
.step-header {
  padding-bottom: 2px;
  border-bottom: 3px solid #3861bc;
}
.step-body {
  padding-top: 15px;
}
@media (max-width: 767px) {
  .step {
    margin-left: -15px;
    margin-right: -15px;
  }
  .step-number {
    padding-left: 7.5px;
  }
  .step-body {
    padding: 15px 15px 0 15px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .forwho {
    padding-bottom: 0;
  }
}
.forwho-container {
  background: url("../img/bgWeb.jpg") 0 0 no-repeat;
  background-size: cover;
  padding: 50px 30px;
}
@media (min-width: 768px) {
  .forwho-container {
    padding: 100px 50px;
  }
}
@media (min-width: 1024px) {
  .forwho-container {
    padding-top: 138px;
    padding-bottom: 156px;
    padding-left: 64px;
    padding-right: 55px;
  }
}
.forwho-list {
  margin-top: 54px;
}
.forwho-button {
  margin-top: 56px;
  position: relative;
}
@media (min-width: 768px) {
  .forwho-button {
    margin-left: 90px;
  }
}

@media (min-width: 768px) {
  .speak-why .text-block {
    padding-right: 50px;
  }
}
.speak-why-bigB {
  position: absolute;
  left: 50%;
  margin-left: -175px;
  top: 0;
  z-index: -1;
}
.speak-img-1 {
  margin: 50px 0 25px;
}
.speak-img-1 img {
  -webkit-box-shadow: 0px 0px 30px 5px rgba(40, 66, 148, 0.25);
  -moz-box-shadow: 0px 0px 30px 5px rgba(40, 66, 148, 0.25);
  box-shadow: 0px 0px 30px 5px rgba(40, 66, 148, 0.25);
}
.speak-img-2 {
  position: relative;
  overflow: hidden;
}
.speak-img-2:after {
  left: -187px;
  top: -200px;
  width: 350px;
  height: 379px;
  background: url("../img/bigB.png") 0 0 no-repeat;
  background-size: cover;
}
@media (max-width: 1023px) {
  .speak-img-2:after {
    display: none;
  }
}
@media (min-width: 1024px) {
  .speak-why-bigB {
    top: 50%;
    margin-left: -90px;
    margin-top: -175px;
  }
}

@media (max-width: 767px) {
  .notebook-img {
    margin-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .notebook-img {
    margin-top: 30px;
  }
}

.programm .bigLetter {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -254.5px;
  margin-top: -190px;
  z-index: -1;
}

@media (min-width: 1024px) {
  .speaker {
    padding-top: 115px;
  }
}
.speaker .bigLetter {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -210px;
  margin-top: -110px;
  z-index: -1;
}
.speaker-inner {
  background: url("../img/speakerinner.png") 0 0 no-repeat;
  background-size: cover;
}
@media (min-width: 1024px) {
  .speaker-inner {
    padding-left: 82px;
    padding-top: 375px;
    padding-bottom: 104px;
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .speaker {
    padding-bottom: 0;
    padding-top: 0;
  }
  .speaker-block {
    position: relative;
    width: 260px;
    margin-top: 15px;
    float: right;
  }
  .speaker-inner {
    margin-top: -30px;
    padding: 50px 15px;
  }
}
@media (min-width: 768px) {
  .speaker-block {
    position: absolute;
    width: 694px;
    right: 6px;
    top: -54px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .speaker-block {
    width: 400px;
    right: 15px;
    top: 15px;
  }
  .speaker-inner {
    margin-top: 340px;
    padding: 100px 50px;
  }
}

.progress-block {
  width: 100%;
}
.progress-block-body {
  line-height: 18px;
}
@media (max-width: 767px) {
  .progress-block {
    margin-bottom: 30px;
  }
}
@media (max-width: 1023px) {
  .progress-block {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .progress-block {
    width: 50%;
    margin-left: -3px;
    display: inline-block;
    vertical-align: text-top;
    padding: 0 15px 0 0;
    min-height: 141px;
  }
  .progress-block-body {
    padding-top: 13px;
  }
}
@media (min-width: 1024px) {
  .progress-block {
    width: 43%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .progress-image, .progress-image-1, .progress-image-2 {
    float: left;
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .progress-image-1 {
    position: absolute;
    top: -42px;
    right: -10px;
    z-index: 2;
  }
  .progress-image-2 {
    position: absolute;
    left: -87px;
    top: 97px;
    z-index: 1;
  }
}
.progress-image-1 img {
  -webkit-box-shadow: 0 0 40px 5px rgba(40, 66, 148, 0.25);
  -moz-box-shadow: 0 0 40px 5px rgba(40, 66, 148, 0.25);
  box-shadow: 0 0 40px 5px rgba(40, 66, 148, 0.25);
}
.progress .bigLetter {
  position: absolute;
  left: 50%;
  z-index: -1;
}
@media (max-width: 767px) {
  .progress .bigLetter {
    top: 0;
    margin-left: -100px;
    width: 200px;
  }
}
@media (min-width: 768px) {
  .progress .bigLetter {
    top: 50%;
    margin-left: -190px;
    margin-top: -190px;
  }
}

.progress-c {
  margin-bottom: 50px;
}
.progress-c:last-child {
  margin-bottom: 0;
}
.progress-c-image {
  height: 109px;
  text-align: center;
}
.progress-c-text-header {
  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 3px solid #3861bc;
}
.progress-c-text-body {
  padding-top: 17px;
}
@media (max-width: 767px) {
  .progress-c-wrap {
    text-align: center;
  }
  .progress-c-text-header {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .progress-c-wrap {
    margin-top: 192px;
  }
  .progress-c-image, .progress-c-text {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: -3px;
  }
  .progress-c-image {
    width: 28.5%;
  }
  .progress-c-text {
    width: 71.5%;
  }
  .progress-c:nth-child(even) .progress-c-text {
    right: 28.5%;
  }
  .progress-c:nth-child(even) .progress-c-image {
    left: 71.5%;
  }
  .progress-c-text-body .inner {
    width: 300px;
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .progress-c-image, .progress-c-text {
    padding: 0 15px;
  }
}

.bigB_photo_transparent {
  position: absolute;
  left: 100px;
  top: 0;
  z-index: -1;
}
@media (max-width: 767px) {
  .bigB_photo_transparent {
    width: 270px;
    left: 50%;
    margin-left: -135px;
  }
}

.call .bigB_blue {
  position: absolute;
  top: 60px;
  right: 175px;
}
.call-copy {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .call-copy {
    margin-top: 200px;
  }
}

.big_text_bottom .h2 {
  margin-bottom: 25px;
}
.big_text_bottom p {
  margin-bottom: 25px;
}

/* ===================== 
Start: START FOOTER      
======================== */
.footer {
  padding: 10px 15px;
  background-color: #131313;
}
.footer-b {
  vertical-align: middle;
  margin: 0 15px;
}

/* =====================
End:  START FOOTER
======================== */
.fade {
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.fade.in {
  opacity: 1;
}

.vmodal, .vmodal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.vmodal {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  z-index: 1001;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.vmodal-open {
  overflow: hidden;
}
.vmodal-open .vmodal {
  overflow-x: hidden;
  overflow-y: auto;
}
.vmodal-dialog {
  width: 100%;
  margin: 70px auto;
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transform: scale(0.7) translate(0, -150%);
  -ms-transform: scale(0.7) translate(0, -150%);
  -o-transform: scale(0.7) translate(0, -150%);
  transform: scale(0.7) translate(0, -150%);
}
.vmodal.in .vmodal-dialog {
  opacity: 1;
  -webkit-transform: scale(1) translate(0, 0);
  -ms-transform: scale(1) translate(0, 0);
  -o-transform: scale(1) translate(0, 0);
  transform: scale(1) translate(0, 0);
}
.vmodal-content {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
.vmodal-backdrop {
  z-index: 1000;
  background-color: #000000;
}
.vmodal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.vmodal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.vmodal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.vmodal-header {
  padding: 15px 30px 0 30px;
}
.vmodal-body, .vmodal-footer {
  padding: 15px;
}
.vmodal-close {
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-align: right;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}
.vmodal-title-text {
  text-align: center;
  padding: 5px;
  margin-top: 25px;
}
.vmodal ul li {
  margin-bottom: 10px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .vmodal-dialog {
    width: 400px;
  }
  .vmodal-dialog-big {
    width: 600px;
    margin: 30px auto;
  }
  .vmodal-content {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
}

.visible {
  visibility: visible;
}
