$bigtitle: (
  exs:  28px,
  xs:   40px,
  md:   60px
);
$h2-font-sizes: (
  exs:  17px,
  sm:   18px,
  md:   24px
);
$h3-font-sizes: (
  exs:  18px,
  xs:   24px,
  sm:   29px,
  md:   40px
);
$subtitle: (
  exs: 24px,
  sm:  30px
);
$subtitle-small: (
  exs: 21px,
  sm:  36px
);


%fwlight{
  font-weight: 100;
}
@for $i from 1 through 6{
  h#{$i},
  .h#{$i}{
    @extend %fwlight;
  }
}
.h1{
  line-height: 1.1;
  margin: 0 0 4px;
}
.h2{
  @include font-size($h2-font-sizes);
  @extend .regular;
  margin-bottom: 13px;
  @include resp-min(md){
    line-height: 31px;
  }
}
.h3{
  
}
.h{
  &4{
    color: #272727;
    &.s-m{
      margin-bottom: 25px;
    }
    &.b-m{
      margin-bottom: 40px;
    }
  }
}
@include resp-min(sm){
  .h3{
    margin-bottom: 31px;
    &.m-m{
      margin-bottom: 50px;
    }
    &.b-m{
      margin-bottom: 80px;
    }
  }
}
@include resp-max(sm){
  .h{
    &1,
    &2{
      margin: 15px 0;
    }
    &3{
      margin-bottom: 30px;
    }
  }
}
.bigtitle{
  @include font-size($bigtitle);
  @include resp-min(sm){
    &-inner{
      display: block;
      font-size: 40px;
    }
  }
  @include resp-min(md){
    line-height: 62px;
    &-big-lh{
      line-height: 77px;
    }
  }
}
.subtitle{
  @include font-size($subtitle);
  margin-bottom: 35px;
}
.subtitle-small{
  @include font-size($subtitle-small);
  @include resp-min(sm){
    line-height: 36px;
  }
}
.text{
  &-block{
    &-title{
      display: block;
      margin-bottom: 10px;
    }
    p{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &-number{
    @extend .bold;
    position: relative;
    @extend .block-inline;
    @extend .corp;
    min-width: 27px;
    &:after{
      @extend .pseudo;
      left: 0;
      bottom: 4px;
      width: 20px;
      height: 1px;
      background-color: #d9deef;
    } 
  }
}
.number-absolute{
  p{
    padding-left: 20px;
    margin-bottom: 17px;
  }
  .text-number{
    position: absolute;
    left: 0;
  }
}
.italic{
  font-style: italic;
}
.t{
  &tu{
    text-transform: uppercase;
  }
  &du{
    text-decoration: underline;
  }
  &dn{
    text-decoration: none;
  }
}
.text{
  &-center{
    text-align: center;
  }
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
  }
}
@each $br-name, $br-value in $breakpoints{
  @include resp-max($br-name){
    .max-#{$br-name}-center{
      text-align: center;
    }
  }
  @include resp-min($br-name){
    .min-#{$br-name}-right{
      text-align: right;
    }
  }
}